div#box

img(id="orient",src="/images/mouse_off.png", usemap ="#clickmap")

map(name="clickmap")
  area(id="left" ,shape="rect", coords="0,0,160,225")
  area(id="right",shape="rect", coords="160,0,320,225")